/* feuille de style pour le resto 02 */
/* * {
    box-sizing: border-box;
} */
body {
    /* background-color: aquamarine; */
    font-family: 'Caveat Brush', cursive;
    font-size: 1em;
}

i {
    color: #d22780;
   
}

#conteneur {
    background: url(../img/motif.jpg);
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;

}

header {
    background: url(../img/planches.jpg);
    opacity: 0.9;
    height: 600px; 
    
}

.jaune {
    color: yellow;
}

.vert {
    color: green;
}

h1 {
    font-style: italic;
    font-size: 2.4em ;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    top: 20px;

}

img[src="img/cerf.svg"] {
    position: relative ;
    left: 300px;
    
    
}

.fa-caret-right {
    font-size: 350px;
    position: relative;
    left: 500px;
    transform: rotate(-45deg);
}

.fa-angle-down {
    font-size: 50px;
    position: relative;
    top: 150px;
    left: 150px;
}

header .fa-window-minimize {
    position: relative;
    left: 80px;
    top: 15px;
    font-size: 30px;
}

nav {
    text-align: right;

}

nav a {
    text-decoration: none;
    color: black;
    text-align: right;
    text-transform: uppercase;
    font-style: none;
    display: inline-block;
    width: 80px;
}

/* .section01 {
    height: 500px;
}

.section02 {
    height: 450px;
}

.section03 {
    height: 350px;
    
}

.section04 {
    height: 600px;
} */


img[src="img/asperge.jpg"]{
    transform: rotateY(3.142rad);
}

#ourStory {
    width: 300px;
    float: left;
    text-align: center;
    padding: 50px 50px 50px 50px;
    
}

#ourStory h2 {
    font-size: 3em;
    font-style: none;
    text-transform: uppercase;
    text-align: center ;
}

h2 {
    font-size: 2em;
    font-style: none;
    text-transform: uppercase;
    text-align: center ;
    padding-top: 10px;
}

span {
    color: #d22780;
    text-transform: uppercase ;
    padding-top: 30px;
}

div p {
    margin-top: 5px;
}

div .fa-window-minimize {
    /* position: relative; */
    left: 80px;
    top: 15px;
    font-size: 30px;
}

#freshFare {
    background: url(../img/graines_01.jpg) no-repeat  ;
    background-position: center  top 20px;
    background-size: 40%;
    /* background: transparent; */
    
    width: 300px;
    text-align: center;
    padding: 130px 25px 20px 50px;
    float: left;
    
}

#distillation {
    background: url(../img/graines_02.jpg) no-repeat;
    background-position: center  top 10px;
    background-size: 25%;
    width: 370px;
    text-align: center;
    padding: 100px 50px 50px 50px;
    float: left;
    
}

.image_01, .image_02, .image_03 {
    float: left;
 
}

/* hauteur pour le footer  */
footer {
    height: 450px;
}

/* h2 dans le footer */
footer h2 {
    font-size: 2.2em;
    text-align: left;
    font-style: italic;
    position: relative;
    top: 70px;
    left: 70px;
}

footer .fa-window-minimize {
    font-size: 30px;
    position: relative;
    top: 60PX;
    left: 110px;

}

address {
    line-height: 20px;
     position: relative;
     top: 100px;
     left: 70px;
}

footer a {
    text-decoration: none;
    color: black;
}


.social { 
    text-align: right;
    position: relative;
    bottom: -220px;
    
}

.clear {
    clear: both;
}

