/* feuille de style pour le resto 02 */
/* * {
    box-sizing: border-box;
} */
body {
    /* background-color: aquamarine; */
    font-family: 'Caveat Brush', cursive;
    font-size: 1em;
}

/* style pour le conteneur  */
#conteneur {
    background: url(../img/motif.jpg);
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
} 



header {
    background: url(../img/planches.jpg);
    opacity: 0.9;
    height: 600px; 
    
}

/* couleur rose pour les icône  */
i {
    color: #d22780;
   
}

.jaune {
    color: yellow;
}

.vert {
    color: green;
}

/* style pour le h1  */

h1 {
    font-style: italic;
    font-size: 2.4em ;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    top: 20px;
}

/* style pour icône tiret en h1  */
header .fa-window-minimize {
    position: relative;
    left: 80px;
    top: 15px;
    font-size: 30px;
}


/* style pour la nav  */

nav {
    text-align: right;

}

/* style pour les a dans la nav  */
nav a {
    text-decoration: none;
    color: black;
    text-align: right;
    text-transform: uppercase;
    font-style: none;
    display: inline-block;
    width: 80px;
}



/* style pour le triangle  */

.fa-caret-right {
    font-size: 350px;
    position: relative;
    left: 500px;
    transform: rotate(-45deg);
}


/* style pour l'image du cerf  */

img[src="img/cerf.svg"] {
    transform: rotateY(3.142rad);
    position: relative ;
    left: 300px; 
}


.fa-angle-down {
    font-size: 50px;
    position: relative;
    top: 150px;
    left: 150px;
}

/* style pour la div du premier texte  */
#ourStory {
    width: 300px;
    text-align: center;
    padding: 50px 50px 50px 50px;
    
}

/* h2 dans la première div  */
#ourStory h2 {
    font-size: 3em;
    font-style: none;
    text-transform: uppercase;
    text-align: center ;
}

/* rotation pour l'image d'asperge  */

img[src="img/asperge.jpg"] {

    transform: rotateY(3.142rad);
}


/* style pour ma deuxième div  */

#freshFare {
    background: url(../img/graines_01.jpg) no-repeat  ;
    background-position: center  top 20px;
    background-size: 40%;
    width: 300px;
    text-align: center;
    padding: 130px 25px 20px 50px;
     
}


/* h2 dans les div 2 et 3 du texte  */

h2 {
    font-size: 2em;
    font-style: none;
    text-transform: uppercase;
    text-align: center ;
    padding-top: 10px;
}


/* les p dans les div  */

div p {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* style pour les span  */
span {
    color: #d22780;
    text-transform: uppercase ;
    padding-top: 30px;
}


div .fa-window-minimize {
    /* position: relative; */
    left: 80px;
    top: 15px;
    font-size: 30px;
}


/* style  pour ma troisième div  */
#distillation {
    background: url(../img/graines_02.jpg) no-repeat;
    background-position: center  top 10px;
    background-size: 25%;
    width: 370px;
    text-align: center;
    padding: 100px 50px 50px 50px;
    
}

/* le float pour les div avec le texte  */

#ourStory, #freshFare, #distillation {
    float: left;
} 


/* le float pour les images  */
.image_01, .image_02, .image_03 {
    float: left;
 
}

/* hauteur pour le footer  */
footer {
    height: 450px;
}

/* h2 dans le footer */
footer h2 {
    font-size: 2.2em;
    text-align: left;
    font-style: italic;
    position: relative;
    top: 70px;
    left: 70px;
}

/* style pour  icône dans le footer  */

footer .fa-window-minimize {
    font-size: 30px;
    position: relative;
    top: 60PX;
    left: 110px;

}


/* style pour la balise adresse  */
address {
    line-height: 20px;
     position: relative;
     top: 100px;
     left: 70px;
}


/* le a dans le footer   */
footer a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 25px;
}

/* positionnement des logaux sociaux  */
.social { 
    text-align: right;
    position: relative;
    bottom: -220px;
    
}


/* la classe clera pour la rétablissement du flux  */
.clear {
    clear: both;
}


/* un autre façon pour insérer le cerf  */
/* .cerf img {
    z-index: 2;
    position: relative;
    left: 60px;
}
#triangle {
    z-index: 1;
    border-top : 100px solid #CC0066;
    border-left : 100px solid transparent;
    display : inline-block;
    position: relative;
    top: 20px;
    right: 70px;
} */